body{
		padding: 1%; 
		margin: 1%;
}

h1{
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	background-color: #B3B3B3;
	background-image: url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: 100%; 
	padding: 1%;
}

nav{
	text-align: center;
}

nav a{
	display: inline-block;
	background: #ffffff;
	background: -moz-linear-gradient(to right, #ffffff -80%, transparent 100%);
	background: -webkit-linear-gradient(to right, #ffffff -80%, transparent 100%);
	background: -o-linear-gradient(to right, #ffffff -80%, transparent 100%);
	background: linear-gradient(to right, #ffffff -80%, transparent 100%);
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 7%;
    padding: 1.4%;
	margin: 1%;
	width: 15%;
	font-size: 113%;
	
	
}


a{
	color: #000000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

nav a:visited{
	color: #0c0c6d;
}

nav a:hover {
	background-color: #e2e2e2;
	color: #0759ad;
}

.active{
	background: #FFFFFF;
	color: #0c0c6d;
}

.left{
	background: #808000; 
	width: 30%;
	float: left;
	padding: 1% 0;
	
}

.left img{
	display: inline-block;
	border: solid 2px #000000;
	width: 50%;
	margin-top: 15%;
    margin-left: 25%;
    margin-bottom: 10%;
	
}

.right{
	width: 60%;
	display: inline-block;
	padding-left: 1%;
	font-size: 120%;
}

h2{
	color: #001994;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}


p{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	
	margin-left: 2%;
    font-size: 66%;
	width: 106%;
	font-weight: bold;
	font-family: Courier New, sans-serif;
}

th {
	background: #808000;
    text-align: center;
	border-bottom: 4px solid #186d08;
	color: #FFFFFF;
    padding: 2%;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

td{
	background: #96961e;
    text-align: center;
	color: #cec6c6;
    padding: 2%;
}

tr th:first-child, tr td:first-child {
	
	text-align: left;
}


tr td {
	opacity: 0.8;
}

tr td:hover{
	opacity: 1.5;
	color: #000000;

}
